<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.black.savemymoneyv3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".mClass.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".DangNhap.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DangNhap.DangKiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.AddWallet"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".DangNhap.DangNhapActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.WalletInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.AddPlanActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.AddMoneyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".DangNhap.AdminActivity"
            />

        <activity android:name=".mActivity.BorrowActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.AddBorrowActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".mActivity.Edit_thongtincanhan"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.Xem_thongtincanhan"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.NgoaiTe_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name=".mActivity.Feedback_user"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".mActivity.hotdeal"
            android:theme="@style/AppTheme.NoActionBar"
            />

    </application>

</manifest>