<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thienbao.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DangNhap.MainActivity" />
        <activity android:name=".DangNhap.DangKiActivity" />
        <activity android:name=".DangNhap.StartActivity"></activity>
        <activity android:name=".DangNhap.AdminActivity" />
        <activity android:name=".mActivity.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mActivity.AddTransactionActivity" ></activity>
        <activity android:name=".mActivity.WalletInfoActivity" ></activity>
        <activity android:name=".mActivity.AddWalletActivity" ></activity>
        <activity android:name=".mActivity.AboutUsActivity" ></activity>
        <activity android:name=".mActivity.WalletActivity"></activity>
    </application>

</manifest>